/*GENERAL*/
:root {
    --background-white-color: #FFF; /* var(--background-white-color) */
    --button-color: #DC9F96; /* var(--button-color) */
    --button-color-hover: #C02E44; /* var(--button-color-hover) */
    --background-color: #ECE2DA; /* var(--background-color) */
    --text-color: #000000; /* var(--text-color) */
    --main-color: #3B8E46; /* var(--main-color) */
  }
  
  body {
    font-family: Syne;
    background: var(--background-white-color);
    width: auto;
    line-height: initial;
  }

  /*header*/
header {
  background: var(--background-white-color);
  display: flex;

}

.menu-header-menu-container{
  margin-top: 30px;
  margin-bottom: 30px;
}

.logo{
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.lienbutton {
  text-decoration: none;
  color: var(--background-white-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

#branding {
  width: 20%;
}

#site-title img {
  width: 100%;
  max-width: 201px;
  height: auto;
}

  /*menu header*/
 #menu {
  width: 60%;
  text-align: right;
  padding-right: 1rem;
 }

  /*Header button*/
  .commander {
    padding: 9px 57px 9px 56px;
    box-shadow: 0px 0px 0px;
    text-align: center;
    cursor: pointer;
    background: var(--button-color);
    width: 20%;
  }

  .commander:hover{
    background-color: var(--button-color-hover);
  }

  .boutton {
    margin-top: 20px;
}

/*lien*/
#menu-header-menu a {
  color: var(--text-color);
  text-decoration:none;
}

#menu-header-menu li {
  display: inline-block;
  margin-right: 2rem;

}

#menu-header-menu a:hover {
  color: var(--text-color);
  font-size: 13px;
  font-weight: 700;
}

/*Footer*/
footer {
  background: var(--background-white-color);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footertxt{
  color: var(--text-color);
  text-decoration: none;
}

/*front-page*/

.accueil{
  background: var(--background-color);
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  box-shadow: 0px 10px 0px #E3D9D0

}

h1 {
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 38px;
  text-align: center;
  padding-top: 100px;
}

.divimage {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  position: relative;
  margin-top: 7rem;
  padding-bottom: 7rem;
}

.feuilles {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  bottom: 15%;
}

.feuille, .feuille2 {
  margin-inline: -10px;
}

.canette {
  z-index: 2;
  position: relative;
  top: -100px;
}

.h2plant {
  color: var(--main-color);
  text-align: center;
  font-family: Syne;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 55px;
}

.txt {
  color: var(--text-color);
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 80px;
  margin-top: 30px;
  width: 29%;
}

.divgouts {
  background: var(--background-color);
   border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  padding-bottom: 2rem;

}

.titlegouts {
  color: #D2776A;
  text-align: center;
  font-family: Syne;
  font-size: 30px;
  font-weight: 800;
  padding-top: 58px;
  text-transform: uppercase;
  margin-bottom: 7px;
  }

  .txtgouts {
    color: var(--text-color);
    text-align: center;
    font-family: Syne;
    font-size: 20px;
  }

  .gouts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 58px;
    width: 60%;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .gout {
    width: calc(50% - 58px);
    height: 262px;
    background-size: cover;
  }

  .fraise {
    background-image: url("../images/fraise.png");
  }

  .fraisetxt{
    color: var(--background-white-color);
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    margin-top: 105px;
    text-transform: uppercase;
  }

  .pamplemousse {
    background-image: url("../images/pamplemousse.png");
  }

  .framboise {
    background-image: url("../images/framboise.png");
  }

  .citron {
    background-image: url("../images/citron.png");
  }

  .citrontxt{
    color: var(--background-white-color);
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    margin-top: 105px;
    text-transform: uppercase;
  }

  .buttongouts {
    padding: 23px 60px 23px 60px;
    border-radius: 5px;
    background: #E0B9B4;
    box-shadow: 0px 0px 0px;
    color: var(--background-white-color);
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 29px;
  }

  .buttongouts:hover{
    background: var(--button-color-hover);
  }

  .h2avis {
    margin-top: 133px;
    color: var(--main-color);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 102px;
  }

  .imgp {
    width: auto;
    height: 200px;
  }

  .h3avis {
    color: #3B8E46;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 11px;
  }

  .pavis{
    padding-top: 5px;
    width: 50%;
  }

  .divflex{
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px;
    justify-content: center;
  }

  .divtext{
    padding-top: 30px;
    margin-left: 30px;
  }
  
  .divavis1{
    width: 30%;
    display: flex
  }


  /*canette*/
  #footercans {
    background:var(--background-color) url("../images/cans.png");
    height: 131px;
    background-repeat: repeat-x;
  }

  /*wordpress*/
  .bloc {
    background: var(--background-color);
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    }

    .rose {
    color: #d2776a;
    text-align: center;
    padding-top: 130px;
    padding-right: 540px;
    }

    .p-p2{
      padding-bottom: 89px;
      margin: 0 auto;
      margin-top: 27px;
      text-align: center;
      font-size: 20px;
      line-height: normal;
      width: 37%;
    }

    .h2p2 {
      margin-top: 60px;
      margin-bottom: 60px;
    }

    .equipe{
      display: flex;
    }


    .contact {
      background: var(--background-color);
    }

    #wpcf7-f54-o1 form.wpcf7-form input,form.wpcf7-form textarea {
      border-radius: 7px;
      background: var(--background-white-color);
      box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
          border:none;
          padding:2em;
          margin-bottom:1.5em;
          margin-top: 0.5em;
          width: 100%;
      }

      .contact .wp-block-group__inner-container {
        margin: 0 auto;
        display: block;
        width: 20%;
        position: relative;
    }


  #wpcf7-f54-o1 form.wpcf7-form input[type="submit"]{
    width: 55%;
    background: #E0B9B4;
    text-align: center;
    color: var(--background-white-color);
    margin: 0 auto;
    display: block;
    padding: 20px 59px 20px 59px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .h3p2 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 18px;
  }

  body.home #footercans {
    background-color:var(--background-white-color);
}

.icone1 {
  margin-top: 50px;
  margin-left: 22%;
  width: 7%;
  float: left;
}

.feuilleform {
  position: absolute;
  left: -82px;
  bottom: 11%;
  z-index: 1;
}

.contact .form {
  z-index: 2;
  position: relative;
}

.textp2 {
  font-size: 30px;
  color: var(--text-color);
  font-weight: bold;
}

.equipe > .wp-block-group__inner-container {
  display: flex;
  justify-content: center;
  gap: 200px;
}

.equipeh2 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-top: 25px;
}

.equipep {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.contacttext {
  font-size: 20px;
}

/*commander*/

.h1p3{
  color: var(--background-white-color);
  margin-bottom: 70px;
}

.h2p3 {
  color: var(--background-white-color);
  margin-top: 40px;
  margin-bottom: 40px;
}

.line{
  margin-top: 50px;
  margin-bottom: 50px;
}

.commandegout{
  display: flex;
  gap: 26px;
}

.fruit {
  width: 192px;
  height: 128px;
}

.fraisep3{
  background-image: url("../images/fraise.png");
  background-repeat: round;
}

.pamplemoussep3{
  background-image: url("../images/pamplemousse.png");
  background-repeat: round;
}

.framboisep3{
  background-image: url("../images/framboise.png");
  background-repeat: round;
}

.citronp3{
  background-image: url("../images/citron.png");
  background-repeat: round;
}

.pfruit{
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  margin-top: 50px;
  text-transform: uppercase;
}

.formh2 {
  color: var(--background-white-color);
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.feuilleSousForm{
  width: 10%;
  margin-left: 85%;
}

#orderform {
  display: flex;
}

#orderpage {
  max-width: 860px;
  margin: 0 auto;
}

body.page-template-commander-page {
  background-color: var(--main-color);
}

#orderform .orderform-col1 , #orderform .orderform-col2{
  width: 50%;
  }

  #orderform input {
    width: 100%;
    border-radius: 4px;
    border: none;
    margin-top: 13px;
    margin-bottom: 20px;
    padding: 2em;
}

#orderform .orderform-col2 {
  border-left: 1px solid white;
  padding-left: 2rem ;
}

#orderform .orderform-col1{
  padding-right: 2rem;
}

#orderform label {
  color: var(--background-white-color);
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.buttonfruit {
  background-color: var(--background-white-color);
  margin-top: 62px;
  width: 24%;
  padding-bottom: 16px;
  border-radius: 5px 0 0 5px;
}

.chiffrefruit {
  padding-left: 20px;
  padding-top: 20px;
}

.flexdivfruit {
  display: flex;
}

.fruitcourt {
  padding-top: 25px;
}


.divbuttonfruit {
  display: flex;
  flex-direction: column;
  margin-top: 62px;
  width: 18%;
  margin-right: 11px;
}

.borderfruit{
  border-bottom: 1px solid white;
}

.divplusetmoins {
  background: #DC9F96;
  text-align: center;
  width: 78%;
  padding-bottom: 6px;
  padding-top: 6px;
}

.divplusetmoins p {
  color: var(--background-white-color);
}

.divplus {
  border-radius: 0 5px 0 0;
}

.divmoins {
  border-radius: 0 0 5px 0;
}

.linemargin {
  margin-top: 120px;
}

.buttonok {
  background: #E0B9B4;
  margin-top: 62px;
  width: 52%;
  text-align: center;
  border-radius: 5px;
}

.buttonok p {
  color: var(--background-white-color);
  margin-top: 20px;
}

input.submitform {
  padding: 20px 60px 20px 60px;
  border-radius: 5px;
  background: #E0B9B4;
  box-shadow: 0px 0px 0px;
  color: var(--background-white-color);
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 90px;
  border: transparent;
}

@media screen and (max-width: 1380px) {
  body {
    width: auto;
  }
  
  header {
    width: auto;
  }

  #menu {
    font-size: 13px;
    width: 50%;
  }

  #branding {
    width: 30%;
}
  
  .lienbutton {
    font-size: 10px;
    font-weight: 400;
  }

  .h1p3 {
    font-size: 25px;
  }
  

  #orderform {
    flex-direction: column;
  }

  .commandegout {
    gap: 115px;
    flex-direction: column;
  }

  .fruit {
    margin: 0 auto;
  }

  .h2p3{
    text-align: center;
  }

  #orderform .orderform-col2 {
    border-left: 0px solid white;
    padding-left: 0rem;
    margin: 0 auto;
}

#orderform .orderform-col1 {
  padding-right: 0rem;
  margin: 0 auto;
}

.equipe > .wp-block-group__inner-container {
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-size: 26px;
}

.divflex {
  flex-direction: column;
  gap: 50px;
}

.divavis1{
  margin: 0 auto;
  flex-direction: column;
}

.pavis {
  width: 100%;
}

.fraisetxt  {
  font-size: 14px;
  margin-top: 60px;
}

.gout {
  width: 100%;
  height: 140px;
}

.txt {
  width: 100%;
}

.p-p2 {
  width: 100%;
}

.rose {
  padding-right: 10%;
}

.p-p2 {
  width: 100%;
}

.imgp {
  width: auto;
  height: auto;
}

.divtext {
  padding-top: 30px;
  margin-left: 0px;
}

}

@media screen and (max-width: 850px) {

  .divimage svg {
    max-width: 50%;
  }

  .contact .wp-block-group__inner-container {
  width: 90%;

}

#orderform .orderform-col1, #orderform .orderform-col2 {
  width: 65%;
}

.commander {
  padding: 4px 25px 4px 25px;
  width: 100%;
}

#menu {
  font-size: 20px;
  width: 100%;
}

header {
  width: auto;
  display: block;
}

#branding {
  width: 100%;
}

}